:root {
    --bg-bluedark: #0a192f;
    --bg-bluedark-hover: #0d2446;
    --text-green: #008b77;
    --text-green-hover: #02f0cc;
}

.r-container {
    height: 100vh;
    display: grid;
    place-items: center;
}

.r-btn-start {
    color: var(--text-green-hover);
    padding: 10px 20px;
    border: none;
    font-size: 2rem;
    animation: blink 1s steps(1) infinite;
}

@keyframes blink {
    50% {
      color: transparent;
    }
  }

.loading {
    color: var(--text-green-hover);
    font-size: 2rem;
}

.main-info {
    padding: 0 10px;
}

.r-btn-download {
    text-decoration: none;
    padding: 10px 21px 10px 21px;
    font-family: 'poppins';
    text-align: center;
    font-size: 1.5rem;
    background-color: transparent;
    border-style: solid;
    color: #02c4a7;
    border-radius: 4px;
    font-family: 'Chivo Mono', 'Poppins', sans-serif;
    border-width: 1px;
    transition: color 0.4s;
    cursor: pointer;
}

.r-btn-download:hover {
    color: #2effe0;
}

.perfil-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.stat {
    display: flex;
    justify-content: start;
    align-items: flex-end;
    padding: 10px 10px;
    color: #00ddfa;
    font-size: 25px;
}

.stat p {
    padding-left: 5px;
}

.external-link {
    text-decoration: none;
    color: #00ddfa;
    padding-left: 10px;
}

.external-link:hover {
    color: #c8f2f8;
}

@media only screen and (max-width: 946px) {
    .main-info {
        max-width: 640px;
    }
}

@media only screen and (max-width: 764px) {
    .main-info {
        max-width: 540px;
    }

    .description {
        max-width: 450px;
    }
}

@media only screen and (max-width: 546px) {
    .main-info {
        max-width: 460px;
    }

    .title-1 {
        font-size: 40px;
    }

    .title-2 {
        font-size: 30px;
    }

    .text-center-sm {
        text-align: center;
    }

    .description {
        max-width: 450px;
    }
}

.bg-hex{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M0%2c553.059C98.182%2c525.071%2c149.24%2c420.81%2c237.846%2c370.096C333.666%2c315.254%2c480.932%2c340.285%2c537.455%2c245.447C593.12%2c152.049%2c535.235%2c31.236%2c501.384%2c-72.088C471.989%2c-161.812%2c404.231%2c-227.303%2c355.984%2c-308.462C294.857%2c-411.286%2c283.607%2c-553.13%2c179.937%2c-612.809C73.381%2c-674.149%2c-71.468%2c-672.864%2c-181.408%2c-617.819C-287.872%2c-564.514%2c-312.828%2c-427.962%2c-382.331%2c-331.291C-444.022%2c-245.486%2c-557.205%2c-186.746%2c-566.987%2c-81.52C-576.742%2c23.423%2c-467.158%2c97.874%2c-431.444%2c197.034C-391.089%2c309.079%2c-436.393%2c460.313%2c-344.538%2c536.111C-254.017%2c610.809%2c-112.866%2c585.233%2c0%2c553.059' fill='%230b2239'%3e%3c/path%3e%3cpath d='M1440 1251C1567.018 1244.199 1643.792 1111.937 1746.3600000000001 1036.7060000000001 1841.379 967.012 1957.414 924.617 2020.597 825.15 2088.553 718.168 2146.9539999999997 584.966 2110.3959999999997 463.61199999999997 2074.198 343.454 1934.576 294.936 1837.07 215.937 1757.77 151.688 1684.659 85.49400000000003 1591.698 43.365999999999985 1486.124-4.477999999999952 1375.709-69.40499999999997 1262.522-44.43399999999997 1147.733-19.109000000000037 1070.558 84.37599999999998 995.554 174.88600000000002 921.959 263.695 833.865 357.51 833.857 472.85 833.849 585.851 947.873 660.523 995.5129999999999 762.991 1042.694 864.47 1036.4479999999999 987.9449999999999 1111.806 1070.681 1197.596 1164.871 1312.779 1257.8110000000001 1440 1251' fill='%23113255'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

    background-repeat: no-repeat;
    background-size: 1920px 1024px;
}

