:root {
    --bg-bluedark: #0a192f;
    --bg-bluedark-hover: #0d2446;
    --text-green: #008b77;
    --text-green-hover: #02f0cc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-bluedark);
    font-family: 'Chivo Mono', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.hello {
    color: var(--text-green-hover);
    margin-bottom: 10px;
}

.title-1 {
    font-size: 55px;
    color: #a0b1cd;
    margin-bottom: 10px;
}

.title-2 {
    font-size: 45px;
    color: #7b86a3;
    margin-bottom: 10px;
}

.description {
    color: #7b86a3;
    max-width: 500px;
    margin-bottom: 50px;
}

.sh {
    height: 100vh;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-icon {
    color: var(--text-green-hover);
}

/* 
.container-menu {
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.hello {
    color: var(--text-green-hover);
    margin-bottom: 10px;
}

.title-1 {
    font-size: 55px;
    color: #a0b1cd;
    margin-bottom: 10px;
}

.title-2 {
    font-size: 45px;
    color: #7b86a3;
    margin-bottom: 10px;
}

.description {
    color: #7b86a3;
    max-width: 500px;
    margin-bottom: 50px;
}

.sub-container {
    margin-left: 10%;
    height: 500px;
}

.icon-link {
    color: #a0b1cd;
} */