.table-green, td, th{
    border: 1px solid !important;
    border-collapse: collapse;
    color: #a0b1cd;
    border-color: #2effe0 !important;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 10px;
}